<a href="https://colab.research.google.com/github/Numann-Malik/Project-1/blob/main/Food_Sales_Predictions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Project 1: Part 2
- Numann Malik
- Thursday November 17th 2022

# Loading Data

In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd

Mounted at /content/drive

In [2]:
filename = '/content/drive/MyDrive/Coding Dojo/02 Week 2: Pandas/sales_predictions.csv'
df = pd.read_csv(filename)

In [4]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

# Data Cleaning

How many rows and columns?

In [5]:
df.shape # 8523 rows and 12 columns

(8523, 12)

What are the datatypes of each variable?

In [6]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

Are there duplicates? If so, drop any duplicates.

In [7]:
df.duplicated().sum() # No duplicates

0

Identify missing values.

In [8]:
df.isna().sum() # 1463 missing item weights and 2410 missing outlet sizes

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

Decide on how to address the missing values and do it! (This requires your judgement, so explain your choice).

In [9]:
median_weight = df['Item_Weight'].median()
df['Item_Weight'].fillna(median_weight, inplace=True) # We don't lose a significant amount of data, but remain wary or errors now being introduced
df['Outlet_Size'].fillna('Missing', inplace=True) # Not enough missing values to warrant column removal

Confirm that there are no missing values after addressing them.

In [10]:
df.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

Find and fix any inconsistent categories of data (example: fix cat, Cat, and cats so that they are consistent).

In [11]:
df['Item_Fat_Content'].value_counts()

Low Fat    5089
Regular    2889
LF          316
reg         117
low fat     112
Name: Item_Fat_Content, dtype: int64

In [12]:
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('LF', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('low fat', 'Low Fat')
df['Item_Fat_Content'] = df['Item_Fat_Content'].replace('reg', 'Regular')
df['Item_Fat_Content'].value_counts() # Low and Regular Fat Content are now consistent

Low Fat    5517
Regular    3006
Name: Item_Fat_Content, dtype: int64

In [16]:
df['Item_Type'].value_counts() # No apparent inconsistencies

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [17]:
df['Outlet_Size'].value_counts() # No apparent inconsistencies

Medium     2793
Missing    2410
Small      2388
High        932
Name: Outlet_Size, dtype: int64

In [18]:
df['Outlet_Location_Type'].value_counts() # No apparent inconsistencies

Tier 3    3350
Tier 2    2785
Tier 1    2388
Name: Outlet_Location_Type, dtype: int64

In [19]:
df['Outlet_Type'].value_counts() # No apparent inconsistencies

Supermarket Type1    5577
Grocery Store        1083
Supermarket Type3     935
Supermarket Type2     928
Name: Outlet_Type, dtype: int64

For any numerical columns, obtain the summary statistics of each (min, max, mean).

In [13]:
df['Item_Weight'].min() # Minimum Item Weight

4.555

In [14]:
df['Item_Weight'].max() # Maximum Item Weight

21.35

In [15]:
df['Item_Weight'].mean() # Average Item Weight

12.81341957057374

In [20]:
df['Item_Visibility'].min() # Minimum Item Visibility

0.0

In [21]:
df['Item_Visibility'].max() # Maximum Item Visibility

0.328390948

In [22]:
df['Item_Visibility'].mean() # Average Item Visibility

0.06613202877895108

In [23]:
df['Item_MRP'].min() # Minimum Item MRP

31.29

In [24]:
df['Item_MRP'].max() # Maximum Item MRP

266.8884

In [25]:
df['Item_MRP'].mean() # Average Item MRP

140.9927819781767

In [26]:
df['Outlet_Establishment_Year'].min() # Minimum Outlet Establishment Year

1985

In [27]:
df['Outlet_Establishment_Year'].max() # Maximum Outlet Establishment Year

2009

In [28]:
df['Outlet_Establishment_Year'].mean() # Average Outlet Establishment Year

1997.8318667135984

In [29]:
df['Item_Outlet_Sales'].min() # Minimum Item Outlet Sales

33.29

In [30]:
df['Item_Outlet_Sales'].max() # Maximum Item Outlet Sales

13086.9648

In [31]:
df['Item_Outlet_Sales'].mean() # Average Item Outlet Sales

2181.288913575032

# Exploratory Visuals

# Explanatory Visuals